.community-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-1000);
    gap: 16px;
    padding: 40px 0;
}

.comminity-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.comminity-text > h1{
    font-size: var(--heading-200);
    font-weight: var(--semi-bold);
    color: var(--d-grey);
}

.comminity-text > p{
    font-size: var(--body-200);
    font-weight: var(--regular);
    color: var(--grey);
}
