@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--silver);
}

:root {
  --primary-color: #28cb8b;
  --second-color: #263238;
  --info-color: #2194f3;

  --black: #263238;
  --d-grey: #4d4d4d;
  --grey: #717171;
  --grey-900: #18191f;
  --l-grey: #89939e;
  --blue-grey: #abbed1;
  --silver: #f5f7fa;
  --white-1000: #fff;
  --white: #f1f1f1;

  --shade-100: #43a046;
  --shade-200: #388e3b;
  --shade-300: #237d31;
  --shade-400: #1b5e1f;
  --shade-500: #103e13;

  --tint-100: #66bb69;
  --tint-200: #81c784;
  --tint-300: #a5d6a7;
  --tint-400: #c8e6c9;
  --tint-500: #e8f5e9;

  --action-success: #2e7d31;
  --action-warning: #fbc02d;
  --action-error: #e53835;

  --heading-100: 64px;
  --heading-200: 36px;
  --heading-300: 28px;
  --heading-400: 20px;

  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;

  --body-100: 18px;
  --body-200: 16px;
  --body-300: 14px;
  --body-400: 12px;

  --shadow-100: 2px;
  --shadow-200: 6px;
  --shadow-300: 8px;
  --shadow-400: 16px;
}

.default-btn {
  background-color: var(--silver);
  color: var(--primary-color);
  border-radius: 6px;
  padding: 10px 20px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
  padding: 10px 20px;
}

.primary-medium-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
  padding: 14px 32px;
}

.headline-two-semi-d-grey-text {
  font-size: var(--heading-200);
  font-weight: var(--semi-bold);
  color: var(--d-grey);
}

.headline-two-semi-green-text {
  font-size: var(--heading-200);
  font-weight: var(--semi-bold);
  color: var(--primary-color);
}

.body-two-regular-grey-text {
  font-size: var(--body-200);
  font-weight: var(--regular);
  color: var(--grey);
}

.body-two-medium-grey-text {
  font-size: var(--body-200);
  font-weight: var(--medium);
  color: var(--grey);
}

.headline-three-bold-d-grey-text {
  font-size: var(--heading-300);
  font-weight: var(--bold);
  color: var(--d-grey);
}

.body-three-regular-grey-text {
  font-size: var(--body-300);
  font-weight: var(--regular);
  color: var(--grey);
}

.headline-four-semi-green-text {
  font-size: var(--heading-400);
  font-weight: var(--semi-bold);
  color: var(--primary-color);
}
