@import url(global.css);

.hero-section {
  display: flex;
  height: 87vh;
  padding: 0 140px;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  font-weight: var(--semi-bold);
  font-size: var(--heading-100);
  line-height: 76px;
}

.banner p {
  font-weight: var(--regular);
  font-size: var(--body-200);
  padding: 16px 0 32px 0;
}

.d-grey {
  color: var(--d-grey);
}

.green {
  color: var(--primary-color);
}

.dot-group {
  display: flex;
  gap: 8px;
  position: relative;
  bottom: 52px;
  left: 50%;
}

.dot-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  opacity: 0.3;
}
